[Desktop Entry]
Encoding=UTF-8
Name=Link to CloudNativeMicroservicesWorkshop | Documents
Type=Link
URL=https://publicdocs-corp.documents.us2.oraclecloud.com/documents/link/LFA6E9C5DD9A6A3B91918DD4F6C3FF17C1177E4725F3/folder/FA218231C01821A99BDADFCEF6C3FF17C1177E4725F3/_CloudNativeMicroservicesWorkshop/nameasc
Icon=text-html
Name[en_US]=Link to CloudNativeMicroservicesWorkshop
